1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004E4"
    BEGIN
      VALUE "CompanyName", "ACME Corporation"
      VALUE "FileDescription", "Example Application"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "example"
      VALUE "LegalCopyright", "John Doe"
      VALUE "OriginalFilename", "example.exe"
      VALUE "ProductName", "Example Application"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0, 1252
  END
END
